<div class="flex py-8 px-16 capitalize items-center justify-center bg-gray-800 text-white">
    <div class="flex-grow text-5xl">freexchange</div>
    <div><i class="fa fa-bars text-6xl"></i></div>
</div>
<div class="p-16 min-h-screen">
    <div class="grid text-4xl justify-items-center items-center gap-y-8 p-8 bg-white border-gray-200 border-2 rounded-lg">
        <div class="">enter amount to buy</div>

        <input type="number" class="border-2 rounded-lg p-8" placeholder="enter amount of shares">
        <button type="submit" class="bg-green-600 text-white uppercase p-6 font-semibold shadow-2xl text-4xl rounded-lg self-center">save</button>
    </div>
</div>
